/** DADA COLORS **/

@white: #EEEBEB;
@blue-lighter: #cee0f5;
@blue-light: #b7d0ec;
@blue: #9ebee1;
@blue-dark: #86aad3;

@gray-darker: #17181a;

/** BOOTSTRAP OVERRIDES **/
@body-bg: @gray-darker;
@btn-bg: @gray-darker;
@text-color: @blue-lighter;

/** Text size overrides **/
@font-family-base: 'Righteous', Arial;
@font-size-base:          16px;
@font-size-h1:            floor((@font-size-base * 5.5)); 
@font-size-h2:            floor((@font-size-base * 3.2)); 
@font-size-h3:            ceil((@font-size-base * 2.7)); 
@font-size-h4:            ceil((@font-size-base * 1.7)); 
@font-size-h5:            ceil((@font-size-base * 1.3)); 
@font-size-h6:            ceil((@font-size-base * 0.85)); 
/** new base variables **/
@font-size-larger:         ceil((@font-size-base * 1.5)); 




h1 {
  @media (max-width: @screen-sm-min) {
  	font-size: 36px;
  	margin-top: 5px;
  	margin-bottom: 10px;
  }
}

h2 {
  @media (max-width: @screen-sm-min) {
  	font-size: 20px; 
  }
}

h3 {
  @media (max-width: @screen-sm-min) {
	  font-size: 24px;
  }
}



/* BREAKPOINTS */
@phone-breakpoint: 667px;