/** DADA COLORS **/

@white: #EEEBEB;
@blue-lighter: #cee0f5;
@blue-light: #b7d0ec;
@blue: #9ebee1;
@blue-dark: #86aad3;

@gray-darker: #17181a;

/** BOOTSTRAP OVERRIDES **/
@body-bg: @gray-darker;
@text-color: @blue-lighter;
@font-family-base: 'Righteous', Arial;

/* BREAKPOINTS */
@phone-breakpoint: 667px;