@import (inline) "normalize.css";
@import (inline) "skeleton.css";

h1 {
  span.serious {
    font-family: "Inconsolata XL", monospace;    
  }
  span.not-serious {
    font-family: "comic sans ms", sans-serif;    
  }
}
.center-tile {
  margin-top: 20%;
}
.title {
  text-align: center;
}

.button-homepage-cta {
  margin-left: -20px;
}

.fb-like {
  top: -7px;
}

.link {
  width: 180px;
  margin: 0 auto;
}
// Custom DADACONF code lives here...