@import (inline) "normalize.css";
@import (inline) "skeleton.css";
@import "buttons";
@import "colors";

.hidden {
  visibility: hidden;
}

/* Typography */

h1.art-deco {
  font-family: 'Poiret One', 'Futura', Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: 7px;
}

h2, h3, h4, h5, h6 {
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
}

h1 {
  span.serious {
    font-family: "Inconsolata XL", monospace;
  }
  span.not-serious {
    font-family: "comic sans ms", sans-serif;
  }
}

/* Body Elements */
body {
  background-color: whitesmoke;
}

.header {
  margin-bottom: 50px;
}

.nav {
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-weight: 500;
  list-style-type: none;
  padding: 0;

  .button {
    margin-top: 8px;

    &.button-homepage-cta {
      float: right;
    }
  }

  li {
    display: inline;
    margin: 0;
    float:left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

}

.cta {
  position: absolute;


  section {
    padding: 20px;
  }

  h6 {
    text-align: center;
  }

  .button-container {
    display: block;
    width: 230px;
    margin: 0 auto;

    @media (max-width: 750px) {

    }
  }
}


.footer {

  .fine-print {
    list-style-type: none;
    padding:0;

    li {
      font-size: 12px;
    }
  }
}

.container-wrapper {
  // background-color: whitesmoke;
}

.content-home {

  .row {
    padding: 0 10px 0 10px;
  }

  ul {
    margin-left: 20px;
  }

  .note {
    font-size: 12px;
  }

  section {
    margin: 20px 100px 50px;

    @media (max-width: 750px) {
      margin: 20px 10px;
    }

    p {
      margin-bottom: 10px;
    }

    &.workshops {
      .highlight {
        display: inline-block;
        background-color: yellow;

        &.less {
          background-color: rgba(255, 255, 0, 0.2);
        }
      }

      h4 {
        margin-top: 30px;
      }

      p {
        margin-bottom: 50px;

        &.short {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.trailer-embed {
  text-align: center;

  iframe {
    width: 560px;
    height: 315px;
    margin: 0 auto;

    @media (max-width: 750px) {
      width: 100%;
    }
  }
}

.hero-text {
  margin: 10px 10px 0 0;
  padding: 15px;
  #monolith canvas {
    -webkit-box-shadow: 0px 0px 46px 10px rgba(235,123,164,1);
    -moz-box-shadow: 0px 0px 46px 10px rgba(235,123,164,1);
    box-shadow: 0px 0px 46px 10px rgba(235,123,164,1);
  }
}

.center-tile {
  margin-top: 20%;
}
.title {
  text-align: center;
}

.fb-like {
  top: -7px;
}

.link {
  width: 180px;
  margin: 0 auto;
}

.horizontal-button {
  display: inline-block;
  margin-left: 20px;
}

.hero-cta {
  margin: 50px auto 0;
  width: 50%;
}

.hero-image {
  max-width: 100%;
  min-height: 400px;
}

.hero {
  min-height: 400px;
}
.showcase {
  margin-bottom: 20px;
}

.gif-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;

  img {
    height: 100%;
  }
}

/* smaller than tablet */
@media (max-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {
  .hero-image {
    min-width: 90%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
