<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>DADACONF</title>
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="stylesheets/main.css">
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58316441-1', 'auto');
    ga('send', 'pageview');
    </script>
    <script src="js/libs/firebase.js" type="text/javascript"></script>
    <script src="js/libs/jquery.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=137222446375584&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="site-wrapper">
      <div class="container-fluid">
        <div id="header" class="row howto">
          <div class="col-sm-12 col-md-8 col-md-offset-2">
            <h2>HOWTO DADA: Specification for Dadaconf<h2>
            <h3><ins>1.0</ins> What is Dadaconf?</h3>
            <p>
            Dadaconf is an open expression of creativity and technology, where everyone can contribute  regardless of prior training, expertise, or resources. The Dadaconf community is diverse in background -- we are computer-touchers, brush-painters, guitar-strummers, wood-workers, word-smithers, joke-tellers, clothes-wearers, and more -- but we unite in order to make things for the sake of making things. 
            </p>
            <p>
              We reject the notion that we can only use our skills to create things of significance or to create material wealth. We believe creation simply for the sake of creation is just as valid as creation for any other ends. 
            </p>      
            <p>
              After may discussions with participants in the Big Dada working group, we have decided it is appropriate for a formal specification of participating in the Dada and all it entails. Explaining HOWTO DADA will enable more to bring their contributions to Dadaconf to make the  event a great success. 
            </p>
            <h3><ins>2.0</ins> How can I participate in Dadaconf?</h3>
            <p>
            First and foremost, attend. Dadaconf is egalitarian. Everyone should feel comfortable and welcome to contribute creatively no matter what. We’ve divided the main types of conference events (besides things like the party and the various performances) into roughly three categories to help people figure out how to participate. 
            </p>
            <p>
              We want you, the attendees, to participate and help create events. Down below is a list of events currently scheduled for Dadaconf, but if you have ideas for something you'd like to bring to the table, get in touch with us. We will be announcing more as we get closer to the date.
            </p>
            <p>
            <a class="btn btn-default" href="https://docs.google.com/forms/d/1CGZCb3ba1906UqQFNd6X8Cy_bU7Av4mq6ORQE9NodYk/viewform?c=0&w=1" role="button">
                 SUBMIT AN EVENT FOR DADACONF
            </a>
            </p>
            <p><strong>Please note:</strong> the listing below is subject to change, and new workshops will be announced as they are added.
            </p>
            <h4><ins>2.1</ins> Workshops</h4>
            <p>Workshops are your opportunity to learn from fellow Dadaconf attendees. Some attendees are volunteering their time to show a new skill or idea to others. We want Dadaconf to help grease your creative wheels by sharing techniques in various forms. Below is a partial list of confirmed workshops:</p>
            <h5><ins>2.1.0</ins> Music Improvisation </h5>
            <p>
            Attend a lecture/demonstration led by sax man Rishikesh Tirumala. Rishi will be explaining how music improvisation works as well as performing with other musicians to demonstrate the techniques explained. Please feel free to bring an instrument.
            </p>
            <h5><ins>2.1.1</ins> Block Printing</h5>
            <p>
            Christine Cooper will show people how to block print. Block printing is an ancient technique for printing text, images, and patterns. People will make their own blocks and print them on paper and other materials. 
            </p>
            <h5><ins>2.1.2</ins> Dat Ass Drawing Class</h5>
            <p>Dolly Li will lead a class on figure drawing. Get excited to sketch out a real person.
            </p>
            <h5><ins>2.1.3</ins> Generative Art</h5>
            <p>Siggy Bilstein will explain how you can use functional programming, graphics libraries, and a little bit of math to generate really crazy looking pictures. Participants will have a chance to fork the code and make their own creations. 
            </p>
            <h4><ins>2.2</ins> Participatory Art</h4>
            <p>
            This is a very general name for a type of experience we really want to happen at Dadaconf. Participatory projects are led by some people but require others helping out to truly happen. Attach yourself to one or more of these projects, work on it during the leadup to Dadaconf, and finish and present the project during our Big Party.
            </p>
            <h5><ins>2.2.0</ins> The Antisocial Network</h5>
            <p>
              Participate in a mini-hackathon with other Dadaconf attendees to build the world’s first antisocial network. Come with a laptop and a strong interest in parody.
            </p>
            <h5><ins>2.2.1</ins> Art Wall</h5>
            <p>
              Just fuck this wall up with your creative shit. Limited supplies will be available; bring whatever you like.
            </p>
            <h5><ins>2.2.2</ins> Magic Mystery Music Machine</h5>
            <p>
              Jon Pezzino will sample your voice to make glitchy, wild sounds with his synth set up. He hacks too, so get excited for sonic overload.
            </p>
            <h5><ins>2.3.0</ins> History of Dada/Big Data Power Hour</h5>
            <p>Renowned art historian Christine Cooper and programmer Siggy Bilstein will deliver simultaneous lectures on the history of Dada and Big Data respectively. Watch the literal manifestation of the art vs. tech war. Bring popcorn and beer.</p>
            <h5><ins>2.3.1</ins> Sex And The Internet of Things</h5>
            <p>
            Will Fischer has some rather strange surprises as he shows off a web connected “toy” that explores basic human impulses: sex and social connection.
            </p>
            <h3><ins>3.0</ins> Event Submission</h3>
            <p>
            We are accepting submissions for the event. If you have an idea that you'd like to make happen at Dadaconf, please get in touch with us. We will be helping organize groups before and during the event if you need support for your particular project. 
            </p>   
              <a class="btn btn-default" href="https://docs.google.com/forms/d/1CGZCb3ba1906UqQFNd6X8Cy_bU7Av4mq6ORQE9NodYk/viewform?c=0&w=1" role="button">SUBMIT AN EVENT FOR DADACONF</a>
              </h2>
              <br><br>
              <a href="index.html">Back to the Dadaconf homepage</a>
          </div>
        </div>
        <div class="row" class="footer">
          <div class="col-sm-8 col-sm-offset-2">
            <h5>Find Us On Social Media</h5>
            <div class="col-sm-4">
              <a class="twitter-follow-button"
                href="https://twitter.com/dadaconf"
                data-show-count="false"
                data-lang="en">
              Follow @twitterdev
              </a>
            </div>
            <div class="col-sm-4">  
              <script type="text/javascript">
              window.twttr = (function (d, s, id) {
                var t, js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src= "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
              }(document, "script", "twitter-wjs"));
              </script>
              <div class="fb-like" data-href="https://www.facebook.com/dadaconf" data-layout="standard" data-action="like" data-width="280" data-show-faces="true" colorscheme="dark" data-share="true"></div>
              </div>
            </div>
          </div>
       </div> 
    </div>  
    <script src="js/libs/bootstrap.js" type="text/javascript"></script>
    <!-- build:js:prod js/main.min.js -->
    <script src="js/main.js" type="text/javascript"></script>
    <!-- /build -->
  </body>
</html>