<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>DADACONF</title>
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="stylesheets/main.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58316441-1', 'auto');
    ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=137222446375584&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container">
      <div class="row header">
        <div class="twelve columns">
        <ul class="nav">
          <li><a href="/">home</a></li>
          <li><a href="/workshops.html">workshops</a></li>
          <li><a href="/opensource.html">open source</a></li>
          <li><a href="/codeofconduct.html">code of conduct</a></li>
          <li><a href="http://goo.gl/forms/7A7GOF0GIs">submit a workshop</a></li>
          <a class="button button-primary button-homepage-cta" href="https://www.eventbrite.com/e/dadaconf-01-tickets-21326863222">Purchase Tickets</a>
        </ul>
        </div>
      </div>
      <div class="row hero">
        <div class="hero-text six columns">
          <div>
            <h1 class="art-deco">DADACONF 0.1</h1>
            <h2>
              a weekend for anyone to make art<br>
            </h2>
            <h3>
              May 6 - 8, 2016<br>
              NIMBY, Oakland, CA
            </h3>
          </div>
          <div>
            <div class="hero-cta">
              <a class="button button-primary" href="https://www.eventbrite.com/e/dadaconf-01-tickets-21326863222">PURCHASE TICKETS</a>
            </div>
          </div>
        </div>
        <div class="six columns">
            <img class="hero-image" src="images/dadalogo.gif" alt="the big dada logo: a head exploding with  the letters 'd a d a' written underneath"/>
        </div>
      </div>
    </div>
    <div class="container-wrapper">
      <div class="container content-home">
        <div class="row">
          <div class="twelve columns">
            <section>
              <h5>No experience required</h5>
              <p>
                We believe that anyone has the ability to make art.
              </p>
              <p>
                Most art doesn’t take special talent to make. It just takes a bit of perseverance and maybe a couple friendly faces helping you figure things out along the way. At Dadaconf, we want people to learn something new or teach other folks the things they know.
              </p>
              <p>
                Whether you are an artist, musician, engineer, or anything else, you can make something fun, strange, and absurd at Dadaconf.
              </p>
              <p>
                Check out this video to see what we're all about.
              </p>
            </section>
            <section class="trailer-embed">
              <iframe src="https://www.youtube.com/embed/UijYzmAg-S8" frameborder="0" allowfullscreen></iframe>
            </section>
            <section>
              <h5>What is Dadaconf?</h5>
              <p>
                Dadaconf is a weekend for you to make art.
              </p>

              <p>
                Don't know how? No worries, we'll teach you.
              <p>
                We're hosting a series of workshops and lectures for you to come and learn a new thing and explore new fields, with many of them requiring no prior experience.
              </p>

              <p>
                This year, we have workshops on:
                  <ul>
                    <li>making electronic music, for non-musicians</li>
                    <li>cross-stitching</li>
                    <li>improv comedy</li>
                    <li>neural nets and visual art</li>
                    <li>creating virtual reality</li>
                    <li>...and many more to be announced</li>
                  </ul>
                <span class="note">
                  (see the <a href="/workshops.html">full list of workshops announced so far</a> — more to come in the next few weeks!)
                </span>
              </p>

                Attendees will be offering various workshops, lessons, and events to learn and explore cool creative tech.
              </p>
              <p><b>Friday Evening</b> Come for the opening ceremony, get started working on projects and attend some Friday night <a href="/workshops.html">workshops</a>.</p>
              <p><b>Saturday Day</b> Workshops throughout the day and plenty of time to work on projects and collaborate on others to prepare for Saturday Night.</p>
              <p><b>Saturday Evening</b> Grab some drinks, listen to live music, and show off your projects. This is your oppurtunity to exhibit what you've been working on and demonstrate your creative projects. We'll have things set up for you to see what others have been up to and a party to celebrate the weekend!</p>
              <p>
                After attending workshops, we encourage you to put your skills to use by making a dumb thing.
              </p>

              <p>
                Why dumb things?
              </p>
            </section>
            <section>
              <h5>
                We believe that absurdity is freedom.
              </h5>

              <p>
                One of the things we've figured out at Dadaconf is that if you try to make absurd things, then it becomes ok to fail.
              </p>

              <p>
                If you try to make a dumb thing and you succeed, then you made a dumb thing, and that's great! If you try to make a dumb thing and you fail, then that's fine because it was going to be dumb anyways. But if it becomes ok to fail, then there's no harm in trying. And if you try, then you might learn something new, and you might make something cool.
              </p>

              <p>
                So after you've attended some workshops, we want you to give some of your new skills a spin. Who knows — you might surprise yourself!
              </p>

            </section>
            <section>
              <h5>
                More about the schedule:
              </h5>

              <h6>
                Friday night:
              </h6>

              <p>
                Opening ceremony and workshops! Meet some new people, attend a couple workshops, and get some ideas for a weird thing you want to make.
              </p>

              <h6>
                Saturday, during the day:
              </h6>

              <p>
                More workshops throughout the day and plenty of time to work on projects and collaborate on others. Work on creative projects, attend workshops, and learn new things.
              </p>

              <h6>
                Saturday evening:
              </h6>

              <p>
                Exhibition and celebration! You'll have an opportunity to exhibit and demonstrate your creative projects. We'll also have performances and end the event with a celebration.
              </p>

              <h6>
                Sunday morning:
              </h6>

              <p>
                Cleanup and saying goodbye to some new friends and collaborators.
              </p>
            </section>

            <section>
              <h5>
                About the venue:
              </h5>

              <p>
                We are super lucky have the great folks at <a href="http://nimbyspace.org/">NIMBY</a> as our partners in making Dadaconf happen this year. NIMBY is a 70,000 square feet warehouse with room for literally anything you can throw at it.
                </p>

              <p>
                NIMBY has a woodshop, metalworking area, people working on art cars, their own cars, people with painting studios, programmers, and even a blacksmith all onsite.
                </p>

              <p>
                We chatted with them for a while about what we're about at Dadaconf — trying new things, and making weird art — and it's exactly what they're into too. We're really lucky to have them on board.
                </p>
            </section>

            <section>
              <h5>
                What is Big Dada?
              </h5>
              <p>
                Dadaconf celebrates Big Dada, an art movement playing on two concepts: 1) the original Dada of the 1920s and 2) the buzzwordy and absurd tech industry that is an increasing presence in everyone's life.
              </p>
              <p>
                Big Dada is about creating experiences that explore technology and creativity. It's about rejecting tech's obsession with consumption and making fast money. It’s about focusing on creating, doing, and learning.
              </p>
            </section>
            <section>
              <p>
                To check out some projects from last year, check out our <a href="https://github.com/DADACONF">Github</a>, where <a href="/opensource.html">we've open sourced</a> all the projects that could be open sourced.
              </p>
            </section>
          </div>
        </div>
        <div class="homepage-final-cta">
          <section>
            <h6>Let's get weird. We can't wait to make dumb things with you.</h6>
            <span class="button-container">
              <a class="button button-primary button-homepage-cta" href="https://www.eventbrite.com/e/dadaconf-01-tickets-21326863222">Purchase Tickets</a>
              <a class="button button-secondary" href="http://eepurl.com/bPhVsP">Get email updates</a>
            </span>
          </section>
        </div>
        <div class="row footer">
          <div class="six columns offset-by-three">
            <ul class="fine-print">
              <li>
                Copyright 2016, Dadaconf LLC. Source code for this website <a href="https://github.com/DADACONF/dadaconf">released under MIT</a>.
              </li>
              <li>
                A bad idea from <a href="http://sbilstein.com">Siegfried Bilstein</a> and <a href="http://joeyyang.com">Joey Yang</a>.
              </li>
              <li>
                Complaints?<br>Email us at <a href="mailto:wannadada@dadaconf.com">wannadada@dadaconf.com</a>
              </li>
              <li>
                <div class="fb-like"
                  data-href="http://www.dadaconf.com"
                  data-layout="button"
                  data-action="like"
                  data-show-faces="false">
                </div>
                <a href="https://twitter.com/dadaconf" class="twitter-follow-button" data-show-count="false">Follow @dadaconf</a>

                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/dadaconf" data-style="mega" aria-label="Follow @dadaconf on GitHub">Follow @dadaconf</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="js/main.js"></script>
    <script src="js/libs/jquery.min.js" type="text/javascript"></script>
    <!-- Place this tag right after the last button or just before your close body tag. -->
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>