<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>DADACONF</title>
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="stylesheets/main.css">
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58316441-1', 'auto');
    ga('send', 'pageview');
    </script>
    <script src="js/libs/firebase.js" type="text/javascript"></script>
    <script src="js/libs/jquery.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="container-fluid">
        <div id="header" class="row">
          <div class="col-sm-12 col-md-8 col-md-offset-2 canvas-container">
            <marquee behavior="alternate" scrollamount="10" class="hero-credits">
              <a href="http://www.bigdada.co">BIG DADA</a> && <a href="http://www.letsgetweird.club">LET'S GET WEIRD CLUB</a> present
            </marquee> 
            <div class="hero-container">
              <img class="hero-img" src="http://38.media.tumblr.com/tumblr_lynjmvFqmz1qa68j2o1_r2_500.gif">
              <div class="hero-overlay">
                <h1>DADACONF 0</h1>
                <h2 class="date">3/20/2015-3/22/2015</h2>
                <h2 class="location">SARATOGA SPRINGS, CALIFORNIA</h2>
                <a class="btn btn-default" href="http://tilt.tc/nN0T" role="button">REGISTER FOR DADACONF</a>
              </div>
            </div>
          </div>
        </div>  
        <div id="description" class="row">
          <div class="col-sm-12 col-md-8 col-md-offset-2">
          <h3>What is dadaconf?</h3>
          <p>
            Dadaconf celebrates Big Dada, an art movement playing on two concepts: 1) the original Dada of the 1920s and 2) the buzzwordy and absurd tech industry that is an increasing presence in everyone's life.
          </p>
          <p>
            Big Dada is about creating experiences that explore technology and creativity. It's about subverting tech's obsession with consumption and making fast money and instead focusing on creating and doing.
          </p>
          <p>
            Anyone and everyone can and should make art. Whether you are an artist, musician, engineer, or anything else, you can come make something fun, strange, and absurd as part of Big Dada.
          </p>
          <p>
           Dadaconf 0 is a weekend to bring together people, technology, and creativity to make art of all kinds. Dadaconf is happening at Saratoga Springs Retreat and Healing Center, a 260 acre resort next to the Mendocino National Forest, two hours north of the Bay, from Friday, March 20 to Sunday, March 22. The resort features these things to help us in creating Big Dada:
          </p>  
          <ul>
            <li>2,400 sq. ft. conference room we'll use as an communal art space</li>
            <li>108 beds + campgrounds</li>
            <li>blazing fast internet for your codes to run</li>
            <li>stone labyrinth for hide and seek and mystical journeys</li>
            <li>hiking trails</li>
            <li>hot soaking pool + swimming pool</li>
            <li>ceremonial circle where we can make fire</li>
            <li>ancient Native American natural power spot for "group experiences"</li>
            <li>30 ft. yurt</li>
          </ul>
          </p>
          <h3> What's going to happen at Dadaconf? </h3>
          <p>
            Anything! The goal of Dadaconf is to get everyone attending to create things that fit in the intersection of art, technology, and absurdism. However techy, artsy, or wacky you want things to be is up to you! 
          </p>
          <p>
            People should plan to arrive Friday and leave Sunday. The whole weekend will be available to you to work on Dada projects or collaborate with others on their projects. As we get closer to the date, we'll enable to share their ideas with eachother so they can get in touch before the event. 
          </p>
          <p>
            Saturday night Dadaconf will culminate in a closing exhibition and ceremony. People who want to display their work will have an opportunity to do so and people interested in performing will be able to as well. After all the art is shown, we'll close out with some music performances and a big party!
          </p>   
            To facilitate creating as well as help people learn how to make Big Dada a reality, we're also planning workshops throughout Friday and Saturday. Here's a sampling of what we have planned for the weekend:
          </p>
          <ul>
            <li>
              Improv and music jamming (bring your instrument, laptop, mouth, etc.)
            </li>
            <li>
              Art supplies and art stations
            </li>
            <li>
              Tech workshops on things like generative art, generative music, or other creative applicatons of technology. 
            </li> 
            <li>
              More to be announced as we get closer to the date!
            </li>
          </ul>    
         
          <h3>
            Sounds awesome, how do I sign up? 
          </h3>
          <p>
            Just register on our tilt website and pay $194. We're using tilt to fund the event. Click <a href="http://tilt.tc/nN0T">here to sign up</a>. Once we hit 50% of the funding threshold, we will be able to do this event for sure. 
          </p>
          <h3>Hmm, what's the cost breakdown?</h3>
          <p>
            We're raising money to throw this event. The cost the resort charges per guest is $194 and we need 50 people minimum to reserve the whole resort for the weekend. Therefore, we need to raise $9,700 to make this happen. 
            Here's the breakdown of the per guest cost:<br>
            $62 / night: lodging (a bed indoors)<br>
            $35 / night: food (brunch and dinner)<br>
            $97 / night * (2 nights) = <strong>$194</strong><br><br>
            We think it's a pretty good deal for the cost. If you have any questions, please reach out <a href="sbilstein@gmail.com">Siggy</a> or Joey and we'd be happy to answer any questions.   
          </p>
          <a class="btn btn-default" href="http://tilt.tc/nN0T" role="button">REGISTER FOR DADACONF</a>
          </div>
        </div>
        <div id="about" class="row">
          <div class="col-sm-12 col-md-8 col-md-offset-2 canvas-container">
            <h3>About Us</h3>
            <div class="about-item clearfix">
              <div class="col-sm-2">
                <img id="about-0" alt="..." class="img-circle"/>
              </div>
              <div class="col-sm-10">
                <p>
                  Captain Cloud (Siggy) has symbolically linked his heart to the pulse of a Russian botnet. With every breath his computers reach out into the dark and transmit pharmaceutical marketing messages to excited customers around the world.
               </p>
              </div>
            </div>
            <div class="about-item">
              <div class="col-sm-2">
                <img id="about-1" alt="..." class="img-circle"/>
              </div>
              <div class="col-sm-10">  
                <p>KanYang is known for developing the first virtual reality LeanSip experience in conjunction with several high profile Houston technologists/screwheads. He's the boss of most bosses.</p>
              </div>
            </div>
          </div>
        </div> 
        <div class="row" class="footer">
        <div class="col-sm-12">
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=137222446375584&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          </div>
        </div> 
      </div>            
    </div>
    <script src="js/libs/bootstrap.js" type="text/javascript"></script>
    <!-- build:js:prod js/main.min.js -->
    <script src="js/main.js" type="text/javascript"></script>
    <!-- /build -->

  </body>
</html>