<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>DADACONF 0.1 — WORKSHOPS</title>
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="stylesheets/main.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58316441-1', 'auto');
    ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=137222446375584&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container">
      <div class="row header">
        <div class="twelve columns">
        <ul class="nav">
          <li><a href="/">home</a></li>
          <li><a href="/info.html">info/directions</a></li>
          <li><a href="/workshops.html">workshops</a></li>
          <li><a href="/opensource.html">open source</a></li>
          <li><a href="/codeofconduct.html">code of conduct</a></li>
          <li><a href="http://goo.gl/forms/7A7GOF0GIs">submit a workshop</a></li>
          <a class="button button-primary button-homepage-cta" href="http://eepurl.com/bPhVsP">Get email updates</a>
        </ul>
        </div>
      </div>
    </div>
    <div class="container-wrapper">
      <div class="container content-home">
        <div class="row">
          <section class="workshops">
            <h4>DADACONF Schedule</h4>

            Take a look at the calendar below to see what events are happening when and in what part of NIMBY. Feel free to add this to your own calendar as we will update this calendar if there any changes.

            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ku0osur3b1059ij18k934jra00%40group.calendar.google.com&amp;color=%23ff8645&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

            Here's a screenshot if that makes things easier:
            <img style="width: 100%;" src="images/schedule_screenshot.png"/>
          </section>
        </div>
        <div class="row">
          <section class="workshops">
            <h4>
              NIMBY Map
            </h4>
            <p>
              See below to see the location of different events as NIMBY. We are sharing the space with full time NIMBY tenants, so make sure to respect the space around you as people will be actively working on their own projects. We are using the spaces highlighted on the map. Do not park in the NIMBY parking lot; there is parking available on Amelia st.
            </p>
            <iframe src="https://www.google.com/maps/d/embed?mid=18Mxwgr-hKuhUmh1zDTM5tIt0C0I" width="640" height="480"></iframe>
          </section>
        </div>
        <div class="row">
          <div class="twelve columns">
            <section class="workshops">
              <h4>Getting to NIMBY</h4>

              <h5>Parking</h5>
              <p>NIMBY is located at 8410 Amelia St in Oakland. There is limited parking available anywhere on Amelia st. We recommend carpooling or taking BART however, since there is limited parking by the venue.</p>
              <h5>Public Transportation</h5>
              <p>
               NIMBY is accessible by a 20 minute walk from the Coliseum BART Station. It's definitely a safe walk over during the day. At night, you may want to consider carpooling or catching Lyft/Uber to the BART station.
              </p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d3154.692590009164!2d-122.19386218429202!3d37.75035552976395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x808f85e8190ce68d%3A0x54308ce5fcb00229!2sColiseum+Station%2C+San+Leandro+Street%2C+Oakland%2C+CA!3m2!1d37.753668499999996!2d-122.1968981!4m5!1s0x80857e22a9f917bf%3A0xb577a1178a6e9575!2sNimby+LLC%2C+8410+Amelia+St%2C+Oakland%2C+CA+94621!3m2!1d37.7497271!2d-122.18663959999999!5e0!3m2!1sen!2sus!4v1461813454380" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </section>
          </div>
        </div>
        <div class="cta">
          <section>
            <h6>Sound fun? We're excited too. Come join us.</h6>
            <span class="button-container">
              <a class="button button-primary button-homepage-cta" href="http://eepurl.com/bPhVsP">Hear about our events</a>
            </span>
          </section>
        </div>
        <div class="row footer">
          <div class="six columns offset-by-three">
            <ul class="fine-print">
              <li>
                Copyright 2016, Dadaconf LLC. Source code for this website <a href="https://github.com/DADACONF/dadaconf">released under MIT</a>.
              </li>
              <li>
                A bad idea from <a href="http://sbilstein.com">Siegfried Bilstein</a> and <a href="http://joeyyang.com">Joey Yang</a>.
              </li>
              <li>
                Complaints?<br>Email us at <a href="mailto:wannadada@dadaconf.com">wannadada@dadaconf.com</a>
              </li>
              <li>
                <div class="fb-like"
                  data-href="http://www.dadaconf.com"
                  data-layout="button"
                  data-action="like"
                  data-show-faces="false">
                </div>
                <a href="https://twitter.com/dadaconf" class="twitter-follow-button" data-show-count="false">Follow @dadaconf</a>

                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/dadaconf" data-style="mega" aria-label="Follow @dadaconf on GitHub">Follow @dadaconf</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="js/main.js"></script>
    <script src="js/libs/jquery.min.js" type="text/javascript"></script>
    <!-- Place this tag right after the last button or just before your close body tag. -->
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
