<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>DADACONF 0.1 — WORKSHOPS</title>
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="stylesheets/main.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58316441-1', 'auto');
    ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=137222446375584&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container">
      <div class="row header">
        <div class="twelve columns">
        <ul class="nav">
          <li><a href="/">home</a></li>
          <li><a href="/info.html">info/directions</a></li>
          <li><a href="/workshops.html">workshops</a></li>
          <li><a href="/opensource.html">open source</a></li>
          <li><a href="/codeofconduct.html">code of conduct</a></li>
          <li><a href="http://goo.gl/forms/7A7GOF0GIs">submit a workshop</a></li>
          <a class="button button-primary button-homepage-cta" href="https://www.eventbrite.com/e/dadaconf-01-tickets-21326863222">Purchase Tickets</a>
        </ul>
        </div>
      </div>
    </div>
    <div class="container-wrapper">
      <div class="container content-home">
        <div class="row">
          <div class="twelve columns">
            <section class="workshops">
              <h6>
                More workshops to be announced between now and Dadaconf 0.1!
              </h6>
              <p>
                <em>Do you have a weird thing you want to teach? <a href="http://goo.gl/forms/7A7GOF0GIs">Sign up to give a workshop here.</a></em>
              </p>
              <h3>Workshops at Dadaconf 0.1</h3>

              <h4>No experience required</h4>
              <p>
                The workshops in this section require no prior experience!
              </p>

              <h5>Make gross GIFs*, by <a href="http://stronglowlights.tumblr.com/">Lindsey Simard</a></h5>
              <p>
                I'll teach you how to make a GIF in 5 minutes, and you will make bad GIFs for the rest of your life. Disgusting, disgusting GIFs. Participants will be invited to show their GIFs at the final party.

                <em>Note:</em> Participants should bring a computer and should download <a href="https://www.gimp.org/">GIMP</a> ahead of time for maximum playtime.

                <div class="showcase">
                  Here are some:
                  <div class="gif-container">
                    <img src="images/gross.gif" alt="ew"/>
                    <img src="images/eye.gif" alt="this is an eye"/>
                    <img src="images/tiny.gif" alt="hail satan"/>
                    <img src="images/teeth.gif" alt="lol"/>
                  </div>
                </div>

                <span class="note">[* or attractive GIFs, up to you]</span>
              </p>


              <h5>Partially Submerging Stuff in Cement, by <a href="https://twitter.com/quavmo">Gavin Morgan</a></h5>
              <p>
                My workshop participants will be invited to sink an item into a bucket of wet cement, which will harden around it. Along the way, we will learn how to mix cement.
              </p>


              <h5>Fundamentals of Charades, by <a href="http://twitter.com/saltesta14">Sal Testa</a></h5>
              <p>
                A classic party game, Charades, forces its participants to convey ideas by pantomiming objects, people, places, and ideas. In this workshop, we will cover basics of space-object work, learn strategies for conveying ideas, and run through Charades and variants of the game. Please wear comfortable clothing because we will be moving around.
              </p>


              <h5>Introduction to After Effects, by <a href="" onclick="alert('Greg still needs to give me an Internet link! Greg, email me!!');">Greg Madrigal</a></h5>
              <p>
                Jump into <a href="http://www.adobe.com/products/aftereffects.html">Adobe After Effects</a> and learn the basics to key-framing and animation. Understand how to navigate around After Effects and how to setup shape layers to create some abstract geometric animation. <em>Note:</em> participants should download the After Effects free trial ahead of time for maximum playtime.
              </p>

              <h5>How to beatbox (or make random mouth sounds), by Arjun Patel</h5>
              <p>
                I'm going to start everyone off with a few introductory beats in beatboxing. But mostly I want to show people that beatboxing is acceptable in society and that making random noises with your mouth is healthy no matter who or what you spit on.
              </p>

              <h5>Science for kids, for adults!, by <a href="http://katemonkeys.github.io/">Kate Jenkins Mercado</a></h5>
              <p>
                I'm going to bring a bunch of the kids science kits my mom has brought me over the past few years, and we can have fun ages 8-12! Come (re-)learn basic science concepts! (<em>Note:</em> kids also welcome.)
              </p>

              <h5>Making electronic music for non-musicians, by Peter Hayes</h5>
              <p>
                Learn the basics of synthesizers and drum machines, along with some standard tricks and patterns for writing or improvising songs!
              </p>

              <h5>DADActivity: a quantitative selfie, by <a href="http://www.paige-bailey.com ">Paige Bailey</a></h5>
              <p>
                Bring your favorite quantitative self device and learn how to extract patterns from your physical data! This workshop will conclude with a massive visual for collective heart rate and...physical exertions... for conference attendees throughout the duration of DADActivities. (<em>Note:</em> participants should bring their own quantitative self device, such as a Fitbit or Apple Watch and a laptop.)
              </p>

              <h5>Introduction to welding, by Ivan Gomez</h5>
              <p>
                Learn about safety and the basic theory behind gas welding, followed by a quick demonstration. Finally, participants will get to lay down their own welds and join something.
              </p>

              <h5>Dada of cross stitching, by <a href="https://twitter.com/coopiscoffee">Christine Cooper</a></h5>
              <p>
                Design and start cross stitching your own dadaist masterpiece. We'll provide templates that you can use, or we'll teach you how to make your own.
              </p>

              <h5>The Life Of Dada, by Greg Brandt</a></h5>
              <p>
                A discussion and presentation on data in the modern age. What does it mean for your data to be persisted and what does it mean for your data to be forgotten?
              </p>

              <h5>Nanoparticle uptake in organs, by Elliott SoRelle</h5>
              <p>
                Learn about sub-cellular microscopy to study where nanoparticles end up in the body after they are injected. Each image is big dada: 512x512x361 data cubes with pixel-by-pixel wavelength info.
              </p>

              <h5>Introduction to improv comedy, by <a href="https://twitter.com/lexiberylross">Lexi Ross</a></h5>
              <p>
                Learn the basic techniques of improv comedy and participate in some sketches with other Dadaconf attendees.
              </p>

              <h5>Introduction to software synthesizers, by <a href="http://sympatheticvibration.com/">Blake West</a></h5>
              <p>
                Explore crafting synthesizers using software like Ableton. Understand how signals combine to emulate real instruments or just make weird sounds. <em>Note:</em> Participants should bring a laptop.
              </p>

              <h4>Some experience required</h4>
              <p>
                The workshops in this section require some prior experience.
              </p>

              <h5>Make music with live coding, by <a href="https://twitter.com/hangtwentyy">Michael Floering</a></h5>
              <p>
                Learn about the various live music coding libraries available for free on the internet. We'll then try some of them out and program some digital music.
              </p>

              <h5>Neural nets and visual art, by Kyle Miller</h5>
              <p>
                Learn how neural nets can create stunning and strange visual art. What will the machines produce? There's only one way to find out. Participants will then create their own neural net art with existing open source tools and packages.
              </p>

              <h5>Lets create an interactive VR music visualization with WebVR, by <a href="http://ericrius1.github.io/">Eric Levin</a> and <a href="http://www.garabagne.io/">Zach Pomerantz</a></h5>
              <p>
                More details to be announced soon! (Participants without programming experience are invited to contribute images and music to the visualization.)
              </p>

              <h5>Terrible Fighting Cardboard Nodebots, by <a href="https://twitter.com/mimmingcodes">Jen Tong</a></h5>
              <p class="short">
                We'll combine Arduinos, sensors, and some code to build the worst battle robots ever: powered by Node.js.

                The rules are simple:
                <ul>
                  <li>
                    Build a robot
                  </li>
                  <li>
                    Battle other robots by trying to push them out of the circle
                  </li>
                  <li>
                    If you robot is too awesome, you're disqualified
                  </li>
                </ul>

                <em>Note:</em> participants are encouraged to have some programming experience, but beginners are still encouraged to participate either by building the cardboard robots or to try to learn the programming aspects of the workshop as well!
              </p>
            </section>

            <section class="workshops">
              <h4>A selection of previous years' workshops</h4>

              <h5>Introduction to Calligraphy, by <a href="www.ericdoctor.com">Eric Doctor</a></h5>
              <p>
                An introduction to calligraphy, including the basics of type and letter forms, and writing with a brush.</p>

              <h5>D3D3CONF: Generative Art with D3, by <a href="http://jfire.io/">John Firebaugh</a></h5>
              <p>
                An intro to D3 and covering common patterns for animations. We'll make a repo ahead of time that people can clone with some starting points. Everyone will make their own animation, push it to the repo, and we'll put them up on a projector Saturday night.</p>

              <h5>Introduction to Welding, by Will Fischer</h5>
              <p>
                I can help teach anyone who wants to learn how to weld. It's basically like a hot glue gun, but with liquid metal.</p>

              <h5>Let's Make a WiFi Enabled Sex Toy, by Will Fischer</h5>
              <p>
                The concept of a WiFi-enabled sex toy seems like a fun one. The ridiculous nature of The Internet of Things makes me want to take a useful 'thing' and toss it up on the internet. I'd like to show up with materials, teach people to do the things necessary to help me (if they don't already know), and build a really cool project that we can show off on Saturday night.</p>

              <h5>Aerial Silks, by <a href="https://twitter.com/mimmingcodes">Jen Tong</a></h5>
              <p>
                Learn how to hang from aerial silks and learn a few basic moves.</p>

              <h5>How to Open a Beer (or Fancy Soda) with Anything, by <a href="https://twitter.com/mimmingcodes">Jen Tong</a></h5>
              <p>
                Sometimes you have a bottled drink, but no bottle opener. Don't be sad! Learn the art of opening beer bottles with whiteboard markers, rocks, hotel furniture, or even other beers.</p>

              <h5>Wearables Fashion Show, by <a href="http://winonatong.com/">Winona Tong</a></h5>
              <p>
                Everyone is welcome to work on a "wearable" during the workshop earlier in the day, or bring a completed piece for the runway show. Wearables can be made of found objects or actual clothing items, adorned with decorations or technology... functional or not.

                In the evening, we will showcase the items that people have worked on or brought. Designers are encouraged to model their own creations!</p>

              <h5>The State of Nanotechnology in Biomedical Imaging, by Elliott SoRelle</h5>
              <p>
                I'm going to give a brief and incomplete presentation on the history and current state of nanotechnology in biomedical imaging and therapeutic applications. This talk will focus on the synthesis of nanoparticles, their optical properties, and how those properties can be useful for imaging studies of disease pathology. In addition to these practical considerations (and in the spirit of dadaism), I will also present nano and micro particles that make up in aesthetics what they lack in functionality.</p>

              <h5>Introduction to Woodblock Printing, by <a href="https://twitter.com/coopiscoffee">Christine Cooper</a></h5>
              <p>
                Teach people how to carve and print a block print. We'll probably use rubber rather than wood because of time.</p>
            </section>
          </div>
        </div>
        <div class="cta">
          <section>
            <h6>Sound fun? We're excited too. Come join us.</h6>
            <span class="button-container">
              <a class="button button-primary button-homepage-cta" href="https://www.eventbrite.com/e/dadaconf-01-tickets-21326863222">Purchase Tickets</a>
              <a class="button button-secondary" href="http://eepurl.com/bPhVsP">Get email updates</a>
            </span>
          </section>
        </div>
        <div class="row footer">
          <div class="six columns offset-by-three">
            <ul class="fine-print">
              <li>
                Copyright 2016, Dadaconf LLC. Source code for this website <a href="https://github.com/DADACONF/dadaconf">released under MIT</a>.
              </li>
              <li>
                A bad idea from <a href="http://sbilstein.com">Siegfried Bilstein</a> and <a href="http://joeyyang.com">Joey Yang</a>.
              </li>
              <li>
                Complaints?<br>Email us at <a href="mailto:wannadada@dadaconf.com">wannadada@dadaconf.com</a>
              </li>
              <li>
                <div class="fb-like"
                  data-href="http://www.dadaconf.com"
                  data-layout="button"
                  data-action="like"
                  data-show-faces="false">
                </div>
                <a href="https://twitter.com/dadaconf" class="twitter-follow-button" data-show-count="false">Follow @dadaconf</a>

                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/dadaconf" data-style="mega" aria-label="Follow @dadaconf on GitHub">Follow @dadaconf</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="js/main.js"></script>
    <script src="js/libs/jquery.min.js" type="text/javascript"></script>
    <!-- Place this tag right after the last button or just before your close body tag. -->
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>